       
        body {        
          
            color: #707070;
            background-color: #333;
        }
        
        .containers {
            margin: 0 auto;
            max-width: 700px;
            max-height: 100vh;
            background-color: white;
        }
        
        
        /* Useful Classes */
        .xy-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .transition {
            transition: all 350ms ease-in-out;
        }
        
        .r-3-2 {
            width: 100%;
            padding-bottom: 66.667%;
            background-color: #ddd;
        }
        
        .image-holder {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        
        /* Main Styles */
        .gallery-wrapper {
            position: relative;
            overflow: hidden;
        }
        
        .gallery {
            position: relative;
            white-space: nowrap;
            font-size: 0;
        }
        
        .item-wrapper {
            cursor: pointer;
            width: 23%; /* arbitrary value */
            display: inline-block;
            background-color: white;
        }
        
        .gallery-item { opacity: 0.5; }
        .gallery-item.active { opacity: 1; }
        
        .controls {
            font-size: 0;
            border-top: none;
        }
        .move-btn {
            display: inline-block;
            width: 50%;
            border: none;
          color: #ccc;
            background-color: transparent;
            padding: 0.2em 1.5em;
        }
        .move-btn:first-child {border-right: none;}
        .move-btn.left  { cursor: w-resize; }
        .move-btn.right { cursor: e-resize; }
        
        /* second .gallery */
      
        
        body {
         
          background-color: #202125;
        }
        
        .heading {
            text-align: center;
            font-size: 2.0em;
            letter-spacing: 1px;
            padding: 40px;
            color: white;
        }
        
        .gallery-image {
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        
        .gallery-image img {
          height: 250px;
          width: 350px;
          transform: scale(1.0);
          transition: transform 0.4s ease;
        }
        
        .img-box {
          box-sizing: content-box;
          margin: 10px;
          height: 250px;
          width: 350px;
          overflow: hidden;
          display: inline-block;
          color: white;
          position: relative;
          background-color: white;
        }
        
        .caption {
          position: absolute;
          bottom: 5px;
          left: 20px;
          opacity: 0.0;
          transition: transform 0.3s ease, opacity 0.3s ease;
        }
        
        .transparent-box {
          height: 250px;
          width: 350px;
          background-color:rgba(0, 0, 0, 0);
          position: absolute;
          top: 0;
          left: 0;
          transition: background-color 0.3s ease;
        }
        
        .img-box:hover img { 
          transform: scale(1.1);
        }
        
        .img-box:hover .transparent-box {
          background-color:rgba(0, 0, 0, 0.5);
        }
        
        .img-box:hover .caption {
          transform: translateY(-20px);
          opacity: 1.0;
        }
        
        .img-box:hover {
          cursor: pointer;
        }
        
        .caption > p:nth-child(2) {
          font-size: 0.8em;
        }
        
        .opacity-low {
          opacity: 0.5;
        }

        section{
          min-height: 100vh;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #808585;
          padding: 50px;
          position: relative;
          overflow: hidden;
        }
        section::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: all 0.4s ease;
        }
        section.active::before{
          opacity: 1;
        }
        .container3{
          max-width: 800px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          background: #fff;
          padding: 5px 10px;
          position: relative;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        }
         section.active .container3{
           visibility: hidden;
         }
        .container3 .main-video{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1);
          width: 100%;
          z-index: 999;
          opacity: 0;
          pointer-events: none;
          visibility: visible;
          transition: all 0.4s ease;
        }
        section.active .container3 .main-video{
          transform:translate(-50%, -50%) scale(1);
          opacity: 1;
          pointer-events: auto;
        }
        .container3 .main-video video{
          height: 100%;
          width: 100%;
          object-fit: cover;
          outline: none;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
        .container3 .main-video .close{
          position: absolute;
          top: -10px;
          right: -36px;
          font-size: 35px;
          color: #fff;
          cursor: pointer;
          transition: all 0.3s ease;
          z-index: 1000;
          pointer-events: auto;
          opacity: 0.6;
        }
        .container3 .main-video .close:hover{
          opacity: 1;
        }
        .container3 .videos{
          position: relative;
          height: 200px;
          width: calc(100% / 2 - 5px);
          margin: 5px 0;
          cursor: pointer;
        }
        .container3 .videos::before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background: rgba(0,0,0,0.3);
          pointer-events: none;
        }
        .container3 .videos video{
          width: 100%;
          height: 100%;
          object-fit: cover;
          outline: none;
          pointer-events: none;
        }
        .container3 .videos i{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 50px;
          color: #fff;
          pointer-events: none;
        }
        @media (max-width: 750px) {
          .container .main-video{
            position: fixed;
            width: 83%;
          }
          .container3 .videos{
            width: 100%;
            height: 320px;
          }
        }
        @media (max-width: 600px) {
          .container .videos{
            width: 100%;
            height: 250px;
          }
        }